<%
var l = env.locale;

if(l === "ru"){
%>
<section id="Quick_Links">
<ol><li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/What_is_CSS">Что такое CSS?</a></li>
    <li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Why_use_CSS">Зачем нужен CSS?</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/How_CSS_works">Как работает CSS</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Cascading_and_inheritance">Каскадность и наследование</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Selectors">Селекторы</a></li>
    <li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Readable_CSS">Читаемый CSS</a></li>
    <li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Text_styles">Стили текста</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Color">Цвет</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Content">Контент</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Lists">Списки</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Boxes">Блоки</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Layout">Макет</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Tables">Таблицы</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Media">Медиа</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/JavaScript">JavaScript и CSS</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/SVG_and_CSS">SVG и CSS</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/XML_data">XML данные</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/XBL_bindings">XBL байдинг</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/XUL_user_interfaces">Пользовательские интерфейсы XUL</a></li>
</ol>
</section>
<%
} else {
%>
<section id="Quick_Links">
<ol><li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/What_is_CSS">What is CSS?</a></li>
   	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Why_use_CSS">Why use CSS?</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/How_CSS_works">How CSS works</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Cascading_and_inheritance">Cascading and inheritance</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Selectors">Selectors</a></li>
    <li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Readable_CSS">Readable CSS</a></li>
    <li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Text_styles">Text styles</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Color">Color</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Content">Content</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Lists">Lists</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Boxes">Boxes</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Layout">Layout</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Tables">Tables</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Media">Media</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/JavaScript">JavaScript and CSS</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/SVG_and_CSS">SVG and CSS</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/XML_data">XML data</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/XBL_bindings">XBL binding</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/XUL_user_interfaces">XUL user interfaces</a></li>
</ol>
</section>
<%
}
%>
