<%
var currentSection = $0;
var locale = env.locale;

function state(section) {
  if (section == currentSection) {
    return "open";
  }
  return "closed";
}

var text = mdn.localStringMap({
  'en-US': {
    'Introduction': 'Introduction',
    'References': 'References',
    'Examples': 'Examples',
  },
  'ru': {
    'Introduction': 'Введение',
    'References': 'Руководства',
    'Examples': 'Примеры',
  }
});
%>
<section class="Quick_links" id="Quick_Links">
 <ol>
  <li><a href="/<%=locale%>/docs/Mozilla/js-ctypes"><strong><em>js-ctypes</em></strong></a></li>
  <li class="toggle">
      <details <%=state('Introduction')%>>
        <summary><%=text['Introduction']%></summary>
        <%-await template("ListSubpagesForSidebar", ['/' + locale + '/docs/Mozilla/js-ctypes/Using_js-ctypes', 1])%>
      </details>
  </li>
  <li class="toggle">
      <details <%=state('References')%>>
        <summary><%=text['References']%></summary>
        <%-await template("ListSubpagesForSidebar", ['/' + locale + '/docs/Mozilla/js-ctypes/js-ctypes_reference'])%>
      </details>
  </li>
  <li class="toggle">
      <details <%=state('Examples')%>>
        <summary><%=text['Examples']%></summary>
        <%-await template("ListSubpagesForSidebar", ['/' + locale + '/docs/Mozilla/js-ctypes/Examples', 1])%>
      </details>
  </li>
 </ol>
</section>
