<%

const locale = env.locale;

const baseURL = `/${locale}/docs/MDN/`;

const text = mdn.localStringMap({
  "en-US": {
    "About_MDN": "About MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Promote MDN",
      "Send_feedback_about_MDN": "Send feedback about MDN",
    "Get_started_on_MDN": "Get started on MDN",
    "Help_improve_MDN": "Help improve MDN",
      "Things_you_can_do": "Things you can do",
      "Localizing_MDN": "Localizing MDN",
      "MDN_editor_UI": "MDN editor UI",
      "Tools_for_power_users": "Tools for power users",
      "Guidelines": "Guidelines",
      "Work_processes": "Work processes",
      "Content_structures": "Content structures",
    "Kuma_the_MDN_wiki_platform": "Kuma: the MDN wiki platform",
    "Join_the_MDN_community": "Join the MDN community",
    "Doc_status_by_topic": "Doc status by topic",
      "Are_we_documented_yet": "Are we documented yet?"
  },
  "ar": {
    "About_MDN": "حول شبكة مطوري موزيل",
      "MDN_guide_for_readers": "دليل قراء الشبكة",
      "Promote_MDN": "انشر الشبكة",
      "Send_feedback_about_MDN": "ارسل تعليقاتك حول الشبكة",
    "Get_started_on_MDN": "ابدأ مع شبكة مطوري موزيل",
    "Help_improve_MDN": "ساعد على تحسين شبكة مطوري موزيلا",
      "Things_you_can_do": "أشياء يمكنك القيام بها",
      "Localizing_MDN": "ترجم الشبكة إلى لغتك",
      "MDN_editor_UI": "واجهة محرر الشبكة",
      "Tools_for_power_users": "أدوات لمساعدة المستخدمين",
      "Guidelines": "دلائل إرشادية",
      "Work_processes": "سير العمل",
      "Content_structures": "هياكل المحتوى",
    "Kuma_the_MDN_wiki_platform": "برمجية كوما: برمجيّة الموسوعة الذي تعمل عليها الشبكة",
    "Join_the_MDN_community": "انضم إلى مجتمع الشبكة",
    "Doc_status_by_topic": "مواضيع حول حالة التوثيق",
      "Are_we_documented_yet": "هل مازلنا نوثِق؟"
  },
  "bn-BD": {
    "About_MDN": "About MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Promote MDN",
      "Send_feedback_about_MDN": "Send feedback about MDN",
    "Get_started_on_MDN": "মজিলা ডেভেলপার নেটওয়ার্কের সাথে পরিচিত হওয়া",
    "Help_improve_MDN": "MDN এ অবদান রাখা",
      "Things_you_can_do": "Things you can do",
      "Localizing_MDN": "Localizing MDN",
      "MDN_editor_UI": "MDN editor UI",
      "Tools_for_power_users": "Tools for power users",
      "Guidelines": "Guidelines",
      "Work_processes": "Work processes",
      "Content_structures": "Content structures",
    "Kuma_the_MDN_wiki_platform": "Kuma: the MDN wiki platform",
    "Join_the_MDN_community": "যোগ দিন আমাদের দলে",
    "Doc_status_by_topic": "ডকুমেন্টেশনের অবস্থা",
      "Are_we_documented_yet": "ওভারভিউ"
  },
  "ca": {
    "About_MDN": "Sobre MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Promoure MDN",
      "Send_feedback_about_MDN": "Enviar comentaris sobre MDN",
    "Get_started_on_MDN": "Començar en MDN",
    "Help_improve_MDN": "Ajuda a millora MDN",
      "Things_you_can_do": "Coses que pot fer",
      "Localizing_MDN": "Localització de MDN",
      "MDN_editor_UI": "MDN editor UI",
      "Tools_for_power_users": "Eines per usuaris avançats",
      "Guidelines": "Guies",
      "Work_processes": "Processos de treball",
      "Content_structures": "Estructures de contingut",
    "Kuma_the_MDN_wiki_platform": "Kuma: plataforma wiki MDN",
    "Join_the_MDN_community": "Uneix-te a la comunitat MDN",
    "Doc_status_by_topic": "Doc estat per tema",
      "Are_we_documented_yet": "Estem encara documentats?"
  },
  "de": {
    "About_MDN": "Über MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Fördere MDN",
      "Send_feedback_about_MDN": "Bewerte MDN",
    "Get_started_on_MDN": "Erste Schritte auf MDN",
    "Help_improve_MDN": "Beitragen zu MDN",
      "Things_you_can_do": "How-to Leitfäden",
      "Localizing_MDN": "Lokalisieren von MDN",
      "MDN_editor_UI": "Editoren Anleitung",
      "Tools_for_power_users": "Werkzeuge für Fortgeschrittene",
      "Guidelines": "Richtlinien",
      "Work_processes": "Arbeitsweisen",
      "Content_structures": "Inhalststruktur",
    "Kuma_the_MDN_wiki_platform": "Kuma: MDN's Wikipedia Platform",
    "Join_the_MDN_community": "Trete der MDN community bei",
    "Doc_status_by_topic": "Dokumentationsstand",
      "Are_we_documented_yet": "Übersetzungsfortschritt"
  },
  "es": {
    "About_MDN": "Acerca de MDN",
      "MDN_guide_for_readers": "MDN reader's guide(inglés)",
      "Promote_MDN": "Promueve MDN",
      "Send_feedback_about_MDN": "Enviar feedback sobre MDN",
    "Get_started_on_MDN": "Primeros pasos en MDN",
    "Help_improve_MDN": "Ayudar a la MDN",
      "Things_you_can_do": "Cosas que puedes hacer",
      "Localizing_MDN": "Adaptar/traducir MDN",
      "MDN_editor_UI": "Interfaz del editor de MDN",
      "Tools_for_power_users": "Herramientas para usuarios avanzados",
      "Guidelines": "Guías de preferencias",
      "Work_processes": "Procesos de documentacion",
      "Content_structures": "Estructura del contenido",
    "Kuma_the_MDN_wiki_platform": "Kuma: La wiki de la MDN",
    "Join_the_MDN_community": "Únete a la comunidad",
    "Doc_status_by_topic": "Estado de documentación",
      "Are_we_documented_yet": "¿Estamos documentados?"
  },
  "fr": {
    "About_MDN": "À propos",
      "MDN_guide_for_readers": "Aides à la lecture de MDN",
      "Promote_MDN": "Promotion de MDN",
      "Send_feedback_about_MDN": "Faire un retour sur MDN",
    "Get_started_on_MDN": "Débuter_sur_MDN",
    "Help_improve_MDN": "Contribuer au MDN",
      "Things_you_can_do": "Guides \"Comment faire\"",
      "Localizing_MDN": "Localiser MDN",
      "MDN_editor_UI": "Interface de l'éditeur de MDN",
      "Tools_for_power_users": "Outils pour les utilisateurs avancés",
      "Guidelines": "Guides du style et du contenu MDN",
      "Work_processes": "Processus de documentation",
      "Content_structures": "Structures des contenus",
    "Kuma_the_MDN_wiki_platform": "Kuma, la plateforme soutenant le wiki MDN",
    "Join_the_MDN_community": "Rejoindre la communauté",
    "Doc_status_by_topic": "État de la documentation par sujet",
      "Are_we_documented_yet": "Vue d’ensemble"
  },
  "hi-IN": {
    "About_MDN": "MDN के बारे में",
      "MDN_guide_for_readers": "MDN पाठक की मार्गदर्शिका",
      "Promote_MDN": "MDN का प्रचार करें",
      "Send_feedback_about_MDN": "MDN के बारे में प्रतिक्रिया भेजें",
    "Get_started_on_MDN": "MDN पर शुरू करें",
    "Help_improve_MDN": "MDN में सुधार करने में मदद करें",
      "Things_you_can_do": "चीज़ें जो आप कर सकते हों",
      "Localizing_MDN": "MDN का स्थानीयकरण करें ",
      "MDN_editor_UI": "MDN editor UI",
      "Tools_for_power_users": "Power उपयोगकर्ताओं के लिए उपकरण",
      "Guidelines": "दिशा निर्देश",
      "Work_processes": "कार्य प्रक्रियाएं",
      "Content_structures": "सामग्री संरचनाएं",
    "Kuma_the_MDN_wiki_platform": "Kuma: the MDN wiki platform",
    "Join_the_MDN_community": "MDN समुदाय से जुड़ें ",
    "Doc_status_by_topic": "विषय के अनुसार docs की स्थिति",
      "Are_we_documented_yet": "क्या हम अभी तक प्रलेखित हैं?"
  },
  "hu": {
    "About_MDN": "Az MDN-ről",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Az MDN népszerűsítése",
      "Send_feedback_about_MDN": "Visszajelzés küldése az MDN-ről",
    "Get_started_on_MDN": "Ismerkedés az MDN-nel",
    "Help_improve_MDN": "Segítsen az MDN tökéletesítésében",
      "Things_you_can_do": "Dolgok, amiket megtehet",
      "Localizing_MDN": "Az MDN honosítása",
      "MDN_editor_UI": "MDN szerkesztőfelület",
      "Tools_for_power_users": "Eszközök tapasztalt felhasználóknak",
      "Guidelines": "Irányelvek",
      "Work_processes": "Munkafolyamatok",
      "Content_structures": "Tartalom felépítése",
    "Kuma_the_MDN_wiki_platform": "Kuma: az MDN wiki platformja",
    "Join_the_MDN_community": "Csatlakozzon az MDN közösségbe",
    "Doc_status_by_topic": "Dokumentáció állapota témánként",
      "Are_we_documented_yet": "Dokumentálva vagyunk már?"
  },
  "id": {
    "About_MDN": "Tentang MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Promosikan MDN",
      "Send_feedback_about_MDN": "Kirim feedback tentang MDN",
    "Get_started_on_MDN": "Memulai di MDN",
    "Help_improve_MDN": "Bantu kembangkan MDN",
      "Things_you_can_do": "Hal yang anda bisa lakukan",
      "Localizing_MDN": "Melokalisasi MDN",
      "MDN_editor_UI": "MDN editor UI",
      "Tools_for_power_users": "Tools for power users",
      "Guidelines": "Paduan",
      "Work_processes": "Work processes",
      "Content_structures": "Struktur konten",
    "Kuma_the_MDN_wiki_platform": "Kuma: the MDN wiki platform",
    "Join_the_MDN_community": "Bergabung di Komunitas MDN",
    "Doc_status_by_topic": "Status Doc berdasar topic",
      "Are_we_documented_yet": "Are we documented yet?"
  },
  "it": {
    "About_MDN": "Informazioni su MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Promuovi MDN",
      "Send_feedback_about_MDN": "Send feedback about MDN",
    "Get_started_on_MDN": "Primi passi su MDN",
    "Help_improve_MDN": "Contribuire a MDN",
      "Things_you_can_do": "Guide come fare per",
      "Localizing_MDN": "Localizzazione di MDN",
      "MDN_editor_UI": "Guida all'editor di MDN",
      "Tools_for_power_users": "Tools for power users",
      "Guidelines": "Guidelines",
      "Work_processes": "Work processes",
      "Content_structures": "Content structures",
    "Kuma_the_MDN_wiki_platform": "Kuma: the MDN wiki platform",
    "Join_the_MDN_community": "Join the MDN community",
    "Doc_status_by_topic": "Doc status by topic",
      "Are_we_documented_yet": "Panoramica sulla documentazione"
  },
  "ja": {
    "About_MDN": "MDN について",
      "MDN_guide_for_readers": "MDN 読者のガイド",
      "Promote_MDN": "MDN を宣伝する",
      "Send_feedback_about_MDN": "MDNについてのフィードバックを送る",
    "Get_started_on_MDN": "MDN を始めよう",
    "Help_improve_MDN": "MDN の改善に貢献する",
      "Things_you_can_do": "あなたにできること",
      "Localizing_MDN": "MDN でのローカライズ",
      "MDN_editor_UI": "MDNエディターガイド",
      "Tools_for_power_users": "パワーユーザーのためのツール",
      "Guidelines": "Guidelines",
      "Work_processes": "作業のプロセス",
      "Content_structures": "文書の構造",
    "Kuma_the_MDN_wiki_platform": "Kuma: MDN の Wiki プラットフォーム",
    "Join_the_MDN_community": "MDN コミュニティに参加する",
    "Doc_status_by_topic": "文書の状況 切り口ごとの統計",
      "Are_we_documented_yet": "日本語文書の状況"
  },
  "ko": {
    "About_MDN": "MDN이란",
      "MDN_guide_for_readers": "MDN 독자를 위한 가이드",
      "Promote_MDN": "MDN 홍보하기",
      "Send_feedback_about_MDN": "MDN에 피드백을 보내주세요!",
    "Get_started_on_MDN": "MDN 시작하기",
    "Help_improve_MDN": "MDN 참여하기",
      "Things_you_can_do": "MDN web docs 사용방법",
      "Localizing_MDN": "MDN 지역화 하기",
      "MDN_editor_UI": "MDN 에디터 UI 가이드",
      "Tools_for_power_users": "파워 유저를 위한 도구들",
      "Guidelines": "가이드라인",
      "Work_processes": "작업 진행 과정",
      "Content_structures": "문서 구조",
    "Kuma_the_MDN_wiki_platform": "Kuma: MDN 위키 플랫폼",
    "Join_the_MDN_community": "MDN 커뮤니티 참여하기",
    "Doc_status_by_topic": "문서화 현황",
      "Are_we_documented_yet": "번역 진행 현황"
  },
  "ml": {
    "About_MDN": "എംഡിഎനിനെ കുറിച്ച്",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Promote MDN",
      "Send_feedback_about_MDN": "Send feedback about MDN",
    "Get_started_on_MDN": "Get started on MDN",
    "Help_improve_MDN": "Help improve MDN",
      "Things_you_can_do": "Things you can do",
      "Localizing_MDN": "Localizing MDN",
      "MDN_editor_UI": "MDN editor UI",
      "Tools_for_power_users": "Tools for power users",
      "Guidelines": "Guidelines",
      "Work_processes": "Work processes",
      "Content_structures": "Content structures",
    "Kuma_the_MDN_wiki_platform": "Kuma: the MDN wiki platform",
    "Join_the_MDN_community": "MDN കമ്മ്യൂണിറ്റിയിൽ ചേരാൻ",
    "Doc_status_by_topic": "Doc status by topic",
      "Are_we_documented_yet": "Are we documented yet?"
  },
  "ms": {
    "About_MDN": "Perihal MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Promote MDN",
      "Send_feedback_about_MDN": "Send feedback about MDN",
    "Get_started_on_MDN": "Get started on MDN",
    "Help_improve_MDN": "Help improve MDN",
      "Things_you_can_do": "Things you can do",
      "Localizing_MDN": "Localizing MDN",
      "MDN_editor_UI": "MDN editor UI",
      "Tools_for_power_users": "Tools for power users",
      "Guidelines": "Guidelines",
      "Work_processes": "Work processes",
      "Content_structures": "Content structures",
    "Kuma_the_MDN_wiki_platform": "Kuma: the MDN wiki platform",
    "Join_the_MDN_community": "Join the MDN community",
    "Doc_status_by_topic": "Status Dokumen mengikut topik",
      "Are_we_documented_yet": "Are we documented yet?"
  },
  "nl": {
    "About_MDN": "Over MDN",
      "MDN_guide_for_readers": "Lezersgids voor MDN",
      "Promote_MDN": "MDN promoten",
      "Send_feedback_about_MDN": "Feedback versturen over MDN",
    "Get_started_on_MDN": "Beginnen op MDN",
    "Help_improve_MDN": "Bijdragen aan MDN",
      "Things_you_can_do": "Dingen die u kunt doen",
      "Localizing_MDN": "MDN lokaliseren",
      "MDN_editor_UI": "Editor-UI van MDN",
      "Tools_for_power_users": "Hulpmiddelen voor hoofdgebruikers",
      "Guidelines": "Richtlijnen",
      "Work_processes": "Werkprocessen",
      "Content_structures": "Inhoudsstructuren",
    "Kuma_the_MDN_wiki_platform": "Kuma: Het wikiplatform van MDN",
    "Join_the_MDN_community": "Deelnemen aan de MDN-gemeenschap",
    "Doc_status_by_topic": "Documentatiestatus op onderwerp",
      "Are_we_documented_yet": "Zijn we al gedocumenteerd?"
  },
  "pt-BR": {
    "About_MDN": "Sobre a MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Promover a MDN",
      "Send_feedback_about_MDN": "Enviar feedback sobre a MDN",
    "Get_started_on_MDN": "Primeiros passos na MDN",
    "Help_improve_MDN": "Ajudar a melhorar a MDN",
      "Things_you_can_do": "O que pode fazer",
      "Localizing_MDN": "Localizando a MDN",
      "MDN_editor_UI": "Editor UI MDN",
      "Tools_for_power_users": "Ferramentas para usuários avançados",
      "Guidelines": "Diretrizes",
      "Work_processes": "Processos de trabalho",
      "Content_structures": "Estruturas de conteúdo",
    "Kuma_the_MDN_wiki_platform": "Kuma: plataforma wiki da MDN",
    "Join_the_MDN_community": "Junte-se à comunidade MDN",
    "Doc_status_by_topic": "Situação do documento por tópico",
      "Are_we_documented_yet": "Ainda estamos documentados?"
  },
  "pt-PT": {
    "About_MDN": "Sobre a MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Promote MDN",
      "Send_feedback_about_MDN": "Enviar opinião sobre a MDN",
    "Get_started_on_MDN": "Iniciação na MDN",
    "Help_improve_MDN": "Contribuir para a MDN",
      "Things_you_can_do": "Guias de Como...",
      "Localizing_MDN": "Localizar MDN",
      "MDN_editor_UI": "Guia para o editor da IU da MDN",
      "Tools_for_power_users": "Tools for power users",
      "Guidelines": "Linhas Diretrizes",
      "Work_processes": "Work processes",
      "Content_structures": "Content structures",
    "Kuma_the_MDN_wiki_platform": "Kuma: Plataforma wiki da MDN",
    "Join_the_MDN_community": "Aderir à Comunidade da MDN",
    "Doc_status_by_topic": "Estado do documento por tópico",
      "Are_we_documented_yet": "Are we documented yet?"
  },
  "ro": {
    "About_MDN": "Despre MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Promote MDN",
      "Send_feedback_about_MDN": "Send feedback about MDN",
    "Get_started_on_MDN": "Noțiuni de bază despre MDN",
    "Help_improve_MDN": "Help improve MDN",
      "Things_you_can_do": "Things you can do",
      "Localizing_MDN": "Localizing MDN",
      "MDN_editor_UI": "MDN editor UI",
      "Tools_for_power_users": "Tools for power users",
      "Guidelines": "Guidelines",
      "Work_processes": "Work processes",
      "Content_structures": "Content structures",
    "Kuma_the_MDN_wiki_platform": "Kuma: platforma wiki a MDN-ului",
    "Join_the_MDN_community": "Alăturați-vă comunității MDN",
    "Doc_status_by_topic": "Statutul documentelor după subiect",
      "Are_we_documented_yet": "Ne-am înregistrat deja?"
  },
  "ru": {
    "About_MDN": "О MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Продвижение MDN",
      "Send_feedback_about_MDN": "Оставить отзыв о MDN",
    "Get_started_on_MDN": "MDN - Быстрый старт!",
    "Help_improve_MDN": "Сотрудничество с MDN",
      "Things_you_can_do": "Руководства \"Как сделать\"",
      "Localizing_MDN": "Локализация MDN",
      "MDN_editor_UI": "Руководство редактора MDN",
      "Tools_for_power_users": "Инструменты для активных пользователей",
      "Guidelines": "Руководства",
      "Work_processes": "Рабочие процессы",
      "Content_structures": "Структуры документов",
    "Kuma_the_MDN_wiki_platform": "Kuma: вики-платформа MDN",
    "Join_the_MDN_community": "Присоединяйся к сообществу MDN",
    "Doc_status_by_topic": "Статус документации",
      "Are_we_documented_yet": "Обзор"
  },
  "sv-SE": {
    "About_MDN": "Om MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Marknadsför MDN",
      "Send_feedback_about_MDN": "Skicka in feedback om MDN",
    "Get_started_on_MDN": "Get started on MDN",
    "Help_improve_MDN": "Hjälp till att förbättra MDN",
      "Things_you_can_do": "Saker som du kan göra",
      "Localizing_MDN": "Localizing MDN",
      "MDN_editor_UI": "MDN editor UI",
      "Tools_for_power_users": "Tools for power users",
      "Guidelines": "Riktlinjer",
      "Work_processes": "Arbetsprocedurer",
      "Content_structures": "Innehållsstrukturer",
    "Kuma_the_MDN_wiki_platform": "Kuma: MDN's wiki-plattform",
    "Join_the_MDN_community": "Anslut till MDN-sällskapet",
    "Doc_status_by_topic": "Doc status by topic",
      "Are_we_documented_yet": "Är vi dokumenterade ännu?"
  },
  "uk": {
    "About_MDN": "Про MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Поширити MDN",
      "Send_feedback_about_MDN": "Залишити відгук про MDN",
    "Get_started_on_MDN": "Швидкий старт на MDN",
    "Help_improve_MDN": "Допомогти вдосконалити MDN",
      "Things_you_can_do": "Що можна зробити",
      "Localizing_MDN": "Переклад MDN",
      "MDN_editor_UI": "Посібник редактора MDN",
      "Tools_for_power_users": "Інструменти для просунутих користувачів",
      "Guidelines": "Посібники",
      "Work_processes": "Робочі процеси",
      "Content_structures": "Структури документів",
    "Kuma_the_MDN_wiki_platform": "Kuma: Вікі-платформа MDN",
    "Join_the_MDN_community": "Приєднуйся до спільноти MDN",
    "Doc_status_by_topic": "Стан документації",
      "Are_we_documented_yet": "Чи все вже задокументовано?"
  },
  "vi": {
    "About_MDN": "Giới Thiệu Về MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "Promote MDN",
      "Send_feedback_about_MDN": "Send feedback about MDN",
    "Get_started_on_MDN": "Get started on MDN",
    "Help_improve_MDN": "Help improve MDN",
      "Things_you_can_do": "Things you can do",
      "Localizing_MDN": "Localizing MDN",
      "MDN_editor_UI": "Hướng dẫn trình soạn thảo MDN",
      "Tools_for_power_users": "Tools for power users",
      "Guidelines": "Guidelines",
      "Work_processes": "Work processes",
      "Content_structures": "Content structures",
    "Kuma_the_MDN_wiki_platform": "Kuma: the MDN wiki platform",
    "Join_the_MDN_community": "Join the MDN community",
    "Doc_status_by_topic": "Doc status by topic",
      "Are_we_documented_yet": "Are we documented yet?"
  },
  "zh-CN": {
    "About_MDN": "关于 MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "推广MDN",
      "Send_feedback_about_MDN": "Send feedback about MDN",
    "Get_started_on_MDN": "初识MDN",
    "Help_improve_MDN": "为 MDN 做贡献",
      "Things_you_can_do": "MDN 使用指南",
      "Localizing_MDN": "MDN 本地化",
      "MDN_editor_UI": "MDN 编辑指南",
      "Tools_for_power_users": "MDN 工具",
      "Guidelines": "Guidelines",
      "Work_processes": "Work processes",
      "Content_structures": "文档结构",
    "Kuma_the_MDN_wiki_platform": "Kuma: MDN 的 wiki 平台",
    "Join_the_MDN_community": "加入 MDN 社区",
    "Doc_status_by_topic": "文档翻译进度",
      "Are_we_documented_yet": "翻译进度概览"
  },
  "zh-TW": {
    "About_MDN": "關於 MDN",
      "MDN_guide_for_readers": "MDN guide for readers",
      "Promote_MDN": "推廣 MDN",
      "Send_feedback_about_MDN": "Send feedback about MDN",
    "Get_started_on_MDN": "開始入門 MDN",
    "Help_improve_MDN": "貢獻 MDN",
      "Things_you_can_do": "Things you can do",
      "Localizing_MDN": "Localizing MDN",
      "MDN_editor_UI": "MDN editor UI",
      "Tools_for_power_users": "Tools for power users",
      "Guidelines": "MDN 內容與風格指南",
      "Work_processes": "Work processes",
      "Content_structures": "Content structures",
    "Kuma_the_MDN_wiki_platform": "Kuma: MDN 的維基平台",
    "Join_the_MDN_community": "加入 MDN 社群",
    "Doc_status_by_topic": "Doc status by topic",
      "Are_we_documented_yet": "Are we documented yet?"
  }
});

%>

<section class="Quick_links" id="Quick_Links">
  <ol>
    <li class="toggle">
        <details>
            <summary><%=text['About_MDN']%></summary>
            <ol>
              <li><a href="<%=baseURL%>About"><%=text['About_MDN']%></a></li>
              <li><a href="<%=baseURL%>About/Reading"><%=text['MDN_guide_for_readers']%></a></li>
              <li><a href="<%=baseURL%>About/Promote"><%=text['Promote_MDN']%></a></li>
              <li><a href="<%=baseURL%>Feedback"><%=text['Send_feedback_about_MDN']%></a></li>
            </ol>
        </details>
    </li>
    <li class="toggle">
        <details>
            <summary><%=text['Get_started_on_MDN']%></summary>
            <ol>
              <li><a href="<%=baseURL%>Getting_started"><%=text['Get_started_on_MDN']%></a></li>
            </ol>
        </details>
    </li>
    <li class="toggle">
        <details>
            <summary><%=text['Help_improve_MDN']%></summary>
            <ol>
                <li><a href="<%=baseURL%>Contribute"><%=text['Help_improve_MDN']%></a></li>
                <li><a href="<%=baseURL%>Contribute/Howto"><%=text['Things_you_can_do']%></a></li>
                <li><a href="<%=baseURL%>Contribute/Localize"><%=text['Localizing_MDN']%></a></li>
                <li><a href="<%=baseURL%>Contribute/Editor"><%=text['MDN_editor_UI']%></a></li>
                <li><a href="<%=baseURL%>Contribute/Tools"><%=text['Tools_for_power_users']%></a></li>
                <li><a href="<%=baseURL%>Contribute/Guidelines"><%=text['Guidelines']%></a></li>
                <li><a href="<%=baseURL%>Contribute/Processes"><%=text['Work_processes']%></a></li>
                <li><a href="<%=baseURL%>Contribute/Structures"><%=text['Content_structures']%></a></li>
             </ol>
        </details>
    </li>
    <li class="toggle">
        <details>
            <summary><%=text['Kuma_the_MDN_wiki_platform']%></summary>
            <ol>
              <li><a href="<%=baseURL%>Kuma"><%=text['Kuma_the_MDN_wiki_platform']%></a></li>
            </ol>
        </details>
    </li>
    <li class="toggle">
      <details>
          <summary><%=text['Join_the_MDN_community']%></summary>
          <ol>
            <li><a href="<%=baseURL%>Community"><%=text['Join_the_MDN_community']%></a></li>
          </ol>
      </details>
    </li>
    <li class="toggle">
      <details>
          <summary><%=text['Doc_status_by_topic']%></summary>
          <ol>
            <li><a href="<%=baseURL%>Doc_status"><%=text['Doc_status_by_topic']%></a></li>
            <li><a href="<%=baseURL%>Doc_status/Overview"><%=text['Are_we_documented_yet']%></a></li>
          </ol>
      </details>
    </li>
  </ol>
</section>
