<%
/*
 * first parameter: inline/method
 * second parameter: additional information required for the type specified by the first parameter
 */
 
var s = mdn.localString({
    "en-US": ["Native code only!", "This method may only be called from C++; don't use it from JavaScript."],
    "de"   : ["Ausschließlich nativer Code!", "Diese Methode kann nur von C++ aus aufgerufen werden; nicht von JavaScript aus verwenden."],
    "ja"   : ["Native code only!", "このメソッドは C++ で内部的に使用されるものです。JavaScript のコード内で使用しないよう、ご注意ください。"],
    "ru"   : ["Только нативный код!", "Этот метод можно вызывать только из C++; не используйте его из JavaScript."]
});
 
switch($0) {
    case 'inline':
        %><span title="<%- s[1] %>" class="inlineIndicator noscript noscriptInline"><%- s[0] %></span><%
        break;
    case 'method':
        %><div><span title="<%- s[1] %>" class="indicatorInHeadline noscript noscriptMethod"><%- s[0] %></span><h3><%= $1 %></h3></div><%
        break;
}
%>
