<%
// Generates and inserts the quicklinks box for the SVG Reference.
//
// Parameters: None.

var s_svg_href = '/'+env.locale+'/docs/Web/SVG';
var s_svg_title = 'SVG';
var s_svg_ref_href = '/'+env.locale+'/docs/Web/SVG/Element';
var s_svg_ref_title = 'SVG Elements';
// var s_html_guide_href = '/'+env.locale+'/docs/Web/Guide/HTML';
var s_api_href = '/' + env.locale + '/docs/Web/API';
switch (env.locale) {
    case 'fr':
        s_svg_href = '/'+env.locale+'/docs/SVG';
        s_svg_ref_href = '/'+env.locale+'/docs/Web/SVG/Element';
        s_svg_ref_title = 'Éléments SVG';
        break;
    default: break;
}

// Find the section of SVG this page belongs to (that is the first tag of the form "SVG XYZ")
var tags = env.tags;
var found_tag = '';
if (tags || typeof tags != 'undefined') {
    for (i in tags) {
        if( tags.hasOwnProperty(i) && tags[i] != s_svg_ref_title && tags[i].substr(0, 4) == 'SVG ') {
            found_tag = tags[i];
            break;
        }
    }
}

// Find the SVG Tags belonging to the same subject

if (found_tag != undefined && found_tag != null && found_tag.length) {
    // Find the pages, sub-pages of SVG/Element that are tagged with that specific tag
    var pageList = await page.subpagesExpand(s_svg_ref_href);   // Get subpages, including tags
    var resultSVG = [];

    for (aPage in pageList) {
        if (page.hasTag(pageList[aPage], found_tag)) {
            resultSVG.push(pageList[aPage].title.replace(/[<>]/g, ""));
        }
    }
}

// var resultGuide = [];
var resultAPI = [];

 if (s_svg_href) {  %>
  <section class="Quick_links" id="Quick_Links">
  <ol>
   <% if (found_tag) {        
/*       
        for( aPage in resultGuide) { // Tutorials and guides matching
  %>
            <li><a href="<%-resultGuide[aPage].url%>"><%-resultGuide[aPage].title%></a></li>
  <%    }
*/
        for (aTitle in resultSVG) { // SVG entities matching 
  %>
            <li><%- await template("SVGElement", [resultSVG[aTitle]]) %></li>
  <%    } 
        for (aTitle in resultAPI) { // SVG-DOM interfaces matching 
  %>
            <li><%- await template("domxref", [resultAPI[aTitle]]) %></li>
  <%    } 
    } %>
   <li><details><summary><%-s_svg_ref_title%></summary><ol>
 <li>A
   <ol>
     <li><%-await template("SVGElement", ["a"])%></li>
     <li class="deprecatedElement"><%-await template("SVGElement", ["altGlyph"])%></li>
     <li class="deprecatedElement"><%-await template("SVGElement", ["altGlyphDef"])%></li>
     <li class="deprecatedElement"><%-await template("SVGElement", ["altGlyphItem"])%></li>
     <li><%-await template("SVGElement", ["animate"])%></li>
     <li><%-await template("SVGElement", ["animateColor"])%></li>
     <li><%-await template("SVGElement", ["animateMotion"])%></li>
     <li><%-await template("SVGElement", ["animateTransform"])%></li>
   </ol>
 </li>
 <li>B-C
   <ol>
     <li><%-await template("SVGElement", ["circle"])%></li>
     <li><%-await template("SVGElement", ["clipPath"])%></li>
     <li class="deprecatedElement"><%-await template("SVGElement", ["color-profile"])%></li>
     <li><%-await template("SVGElement", ["cursor"])%></li>
   </ol>
 </li>
 <li>D
   <ol>
     <li><%-await template("SVGElement", ["defs"])%></li>
     <li><%-await template("SVGElement", ["desc"])%></li>
   </ol>
 </li>
 <li>E
   <ol>
     <li><%-await template("SVGElement", ["ellipse"])%></li>
   </ol>
 </li>
 <li>F
   <ol>
     <li><%-await template("SVGElement", ["feBlend"])%></li>
     <li><%-await template("SVGElement", ["feColorMatrix"])%></li>
     <li><%-await template("SVGElement", ["feComponentTransfer"])%></li>
     <li><%-await template("SVGElement", ["feComposite"])%></li>
     <li><%-await template("SVGElement", ["feConvolveMatrix"])%></li>
     <li><%-await template("SVGElement", ["feDiffuseLighting"])%></li>
     <li><%-await template("SVGElement", ["feDisplacementMap"])%></li>
     <li><%-await template("SVGElement", ["feDistantLight"])%></li>
     <li><%-await template("SVGElement", ["feFlood"])%></li>
     <li><%-await template("SVGElement", ["feFuncA"])%></li>
     <li><%-await template("SVGElement", ["feFuncB"])%></li>
     <li><%-await template("SVGElement", ["feFuncG"])%></li>
     <li><%-await template("SVGElement", ["feFuncR"])%></li>
     <li><%-await template("SVGElement", ["feGaussianBlur"])%></li>
     <li><%-await template("SVGElement", ["feImage"])%></li>
     <li><%-await template("SVGElement", ["feMerge"])%></li>
     <li><%-await template("SVGElement", ["feMergeNode"])%></li>
     <li><%-await template("SVGElement", ["feMorphology"])%></li>
     <li><%-await template("SVGElement", ["feOffset"])%></li>
     <li><%-await template("SVGElement", ["fePointLight"])%></li>
     <li><%-await template("SVGElement", ["feSpecularLighting"])%></li>
     <li><%-await template("SVGElement", ["feSpotLight"])%></li>
     <li><%-await template("SVGElement", ["feTile"])%></li>
     <li><%-await template("SVGElement", ["feTurbulence"])%></li>
     <li><%-await template("SVGElement", ["filter"])%></li>
     <li><%-await template("SVGElement", ["font"])%></li>
     <li><%-await template("SVGElement", ["font-face"])%></li>
     <li><%-await template("SVGElement", ["font-face-format"])%></li>
     <li><%-await template("SVGElement", ["font-face-name"])%></li>
     <li><%-await template("SVGElement", ["font-face-src"])%></li>
     <li><%-await template("SVGElement", ["font-face-uri"])%></li>
     <li><%-await template("SVGElement", ["foreignObject"])%></li>
   </ol>
 </li>
 <li>G
   <ol>
     <li><%-await template("SVGElement", ["g"])%></li>
     <li><%-await template("SVGElement", ["glyph"])%></li>
     <li class="deprecatedElement"><%-await template("SVGElement", ["glyphRef"])%></li>
   </ol>
 </li>
 <li>H
   <ol>
     <li><%-await template("SVGElement", ["hkern"])%></li>
   </ol>
 </li>
 <li>I
   <ol>
     <li><%-await template("SVGElement", ["image"])%></li>
   </ol>
 </li>
 <li>J-L
   <ol>
     <li><%-await template("SVGElement", ["line"])%></li>
     <li><%-await template("SVGElement", ["linearGradient"])%></li>
   </ol>
 </li>
 <li>M
   <ol>
     <li><%-await template("SVGElement", ["marker"])%></li>
     <li><%-await template("SVGElement", ["mask"])%></li>
     <li><%-await template("SVGElement", ["metadata"])%></li>
     <li><%-await template("SVGElement", ["missing-glyph"])%></li>
     <li><%-await template("SVGElement", ["mpath"])%></li>
   </ol>
 </li>
 <li>N-P
   <ol>
     <li><%-await template("SVGElement", ["path"])%></li>
     <li><%-await template("SVGElement", ["pattern"])%></li>
     <li><%-await template("SVGElement", ["polygon"])%></li>
     <li><%-await template("SVGElement", ["polyline"])%></li>
   </ol>
 </li>
 <li>Q-R
   <ol>
     <li><%-await template("SVGElement", ["radialGradient"])%></li>
     <li><%-await template("SVGElement", ["rect"])%></li>
   </ol>
 </li>
 <li>S
   <ol>
     <li><%-await template("SVGElement", ["script"])%></li>
     <li><%-await template("SVGElement", ["set"])%></li>
     <li><%-await template("SVGElement", ["stop"])%></li>
     <li><%-await template("SVGElement", ["style"])%></li>
     <li><%-await template("SVGElement", ["svg"])%></li>
     <li><%-await template("SVGElement", ["switch"])%></li>
     <li><%-await template("SVGElement", ["symbol"])%></li>
   </ol>
 </li>
 <li>T
   <ol>
     <li><%-await template("SVGElement", ["text"])%></li>
     <li><%-await template("SVGElement", ["textPath"])%></li>
     <li><%-await template("SVGElement", ["title"])%></li>
     <li class="deprecatedElement"><%-await template("SVGElement", ["tref"])%></li>
     <li><%-await template("SVGElement", ["tspan"])%></li>
   </ol>
 </li>
 <li>U
   <ol>
     <li><%-await template("SVGElement", ["use"])%></li>
   </ol>
 </li>
 <li>V-Z
   <ol>
     <li><%-await template("SVGElement", ["view"])%></li>
     <li><%-await template("SVGElement", ["vkern"])%></li>
   </ol>   
 </li>
   </ol></li></details>
   </ol>
  </section>
<%}%>
