<%

const locale = env.locale;

const baseURL = `/${locale}/docs/Tools/`;

const text = mdn.localStringMap({
  "en-US": {
    "Core_Tools": "Core Tools",
      "Page_Inspector": "Page Inspector",
      "Web_Console": "Web Console",
      "JavaScript_Debugger": "JavaScript Debugger",
      "Network_Monitor": "Network Monitor",
      "Performance": "Performance",
      "Responsive_Design_Mode": "Responsive Design Mode",
      "Accessibility_Inspector": "Accessibility Inspector",
      "Tips": "Tips",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "Storage Inspector",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Developer_Toolbar": "Developer Toolbar",
      "Eyedropper": "Eyedropper",
      "Screenshot": "Screenshot",
      "Scratchpad": "Scratchpad",
      "Style_Editor": "Style Editor",
      "Shader_Editor": "Shader Editor",
      "Web_Audio_Editor": "Web Audio Editor",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "Connecting to iframes",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Debugging the browser",
      "Browser_Console": "Browser Console",
      "Browser_Toolbox": "Browser Toolbox",
    "Extending_the_devtools": "Extending the devtools",
      "Adding_a_panel_to_the_toolbox": "Adding a panel to the toolbox",
      "Example_devtools_add-ons": "Example devtools add-ons",
      "Remote_Debugging_Protocol": "Remote Debugging Protocol",
      "Stream_Transport": "Stream Transport",
      "Source_Editor": "Source Editor",
      "The_Debugger_Interface": "The Debugger Interface",
      "Web_Console_custom_output": "Web Console custom output",
    "Settings": "Settings",
    "Release_notes": "Release notes"
  },
  "bn-BD": {
    "Core_Tools": "Core Tools",
      "Page_Inspector": "পেজ ইন্সপেক্টর",
      "Web_Console": "ওয়েব কনসোল",
      "JavaScript_Debugger": "ডিবাগার",
      "Network_Monitor": "নেটওয়ার্ক মনিটর",
      "Performance": "Performance",
      "Responsive_Design_Mode": "রেসপন্সিভ ডিজাইন ভিউ",
      "Accessibility_Inspector": "Accessibility Inspector",
      "Tips": "Tips",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "স্টোরেজ ইন্সপেক্টর",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Developer_Toolbar": "ডেভেলপার টুলবার",
      "Eyedropper": "আইড্রপার",
      "Screenshot": "Screenshot",
      "Scratchpad": "স্ক্র্যাচ প্যাড",
      "Style_Editor": "স্টাইল এডিটর",
      "Shader_Editor": "শেডার এডিটর",
      "Web_Audio_Editor": "ওয়েব অডিও এডিটর",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "iframe নির্বাচন করা",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Debugging the browser",
      "Browser_Console": "Browser Console",
      "Browser_Toolbox": "Browser Toolbox",
    "Extending_the_devtools": "Extending the devtools",
      "Adding_a_panel_to_the_toolbox": "Adding a panel to the toolbox",
      "Example_devtools_add-ons": "Example devtools add-ons",
      "Remote_Debugging_Protocol": "Remote Debugging Protocol",
      "Stream_Transport": "Stream Transport",
      "Source_Editor": "Source Editor",
      "The_Debugger_Interface": "The Debugger Interface",
      "Web_Console_custom_output": "Web Console custom output",
    "Settings": "Settings",
    "Release_notes": "Release notes"
  },
  "ca": {
    "Core_Tools": "Core Tools",
      "Page_Inspector": "Inspector de Pàgina",
      "Web_Console": "Consola Web",
      "JavaScript_Debugger": "Depurador",
      "Network_Monitor": "Monitor de Xarxa",
      "Performance": "Rendiment",
      "Responsive_Design_Mode": "Visualització Sensible al Disseny",
      "Accessibility_Inspector": "Accessibility Inspector",
      "Tips": "Tips",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "Inspector d'Emmagatzematge",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Developer_Toolbar": "Barra d'Eines de Desenvolupador",
      "Eyedropper": "Comptagotes",
      "Screenshot": "Screenshot",
      "Scratchpad": "Bloc de notes (Scratchpad)",
      "Style_Editor": "Editor d'Estils",
      "Shader_Editor": "Editor Shader",
      "Web_Audio_Editor": "Web Audio Editor",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "Veure Codi Font",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "Seleccionar iframes",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Depuració del Navegador",
      "Browser_Console": "Consola del Navegador",
      "Browser_Toolbox": "Caixa d'Eines del Navegador",
    "Extending_the_devtools": "Ampliació dels devtools",
      "Adding_a_panel_to_the_toolbox": "Afegir un nou panell per a la caixa d'eines",
      "Example_devtools_add-ons": "Exemple de complements de devtools",
      "Remote_Debugging_Protocol": "Protocol de Depuració Remota",
      "Stream_Transport": "Transport de Flux",
      "Source_Editor": "Editor de Codi Font",
      "The_Debugger_Interface": "Interfície de Depuració",
      "Web_Console_custom_output": "Sortida personalitzada de la Consola Web",
    "Settings": "Configuracions",
    "Release_notes": "Notes de la versió"
  },
  "de": {
    "Core_Tools": "Core Tools",
      "Page_Inspector": "Inspektor",
      "Web_Console": "Web-Konsole",
      "JavaScript_Debugger": "Debugger",
      "Network_Monitor": "Netzwerkanalyse",
      "Performance": "Performance",
      "Responsive_Design_Mode": "Reaktives Design",
      "Accessibility_Inspector": "Accessibility Inspector",
      "Tips": "Tips",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "Storage Inspector",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Developer_Toolbar": "Developer Toolbar",
      "Eyedropper": "Eyedropper",
      "Screenshot": "Screenshot",
      "Scratchpad": "JavaScript-Umgebung",
      "Style_Editor": "Style Editor",
      "Shader_Editor": "Shader Editor",
      "Web_Audio_Editor": "Web Audio Editor",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "Connecting to iframes",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Den Browser debuggen",
      "Browser_Console": "Browser-Konsole",
      "Browser_Toolbox": "Browser-Toolbox",
    "Extending_the_devtools": "Die Entwickler-Werkzeuge erweitern",
      "Adding_a_panel_to_the_toolbox": "Adding a panel to the toolbox",
      "Example_devtools_add-ons": "Example devtools add-ons",
      "Remote_Debugging_Protocol": "Remote Debugging Protokoll",
      "Stream_Transport": "Stream Transport",
      "Source_Editor": "Source Editor",
      "The_Debugger_Interface": "The Debugger Interface",
      "Web_Console_custom_output": "Web Console custom output",
    "Settings": "Einstellungen",
    "Release_notes": "Versionshinweise"
  },
  "fr": {
    "Core_Tools": "Outils principaux",
      "Page_Inspector": "Inspecteur",
      "Web_Console": "Console web",
      "JavaScript_Debugger": "Débogueur JavaScript",
      "Network_Monitor": "Moniteur réseau",
      "Performance": "Performances",
      "Responsive_Design_Mode": "Vue adaptative",
      "Accessibility_Inspector": "Panneau accessibilité",
      "Tips": "Astuces",
    "More_Tools": "Plus d'outils",
      "Memory": "Mémoire",
      "Storage_Inspector": "Inspecteur de stockage",
      "DOM_Property_Viewer": "Inspecteur DOM",
      "Developer_Toolbar": "Barre de développement",
      "Eyedropper": "Pipette",
      "Screenshot": "Capture d'écran",
      "Scratchpad": "Ardoise JavaScript",
      "Style_Editor": "Éditeur de style",
      "Shader_Editor": "Nuanceur",
      "Web_Audio_Editor": "Éditeur Web Audio",
      "Rulers": "Règles",
      "Measure_a_portion_of_the_page": "Mesurer une portion de la page",
      "View_Source": "Afficher le code source",
    "Connecting_the_devtools": "Connexion aux outils de développement",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connexion à Firefox pour Android",
      "Connecting_to_iframes": "Connexion aux iframes",
      "Connecting_to_other_browsers": "Connexion à d'autres navigateurs",
    "Debugging_the_browser": "Débogage du navigateur",
      "Browser_Console": "Console du navigateur",
      "Browser_Toolbox": "Boite à outils du navigateur",
    "Extending_the_devtools": "Extensions pour les outils de développement",
      "Adding_a_panel_to_the_toolbox": "Ajout d'un panneau à la boîte à outils",
      "Example_devtools_add-ons": "Exemples d'extensions aux outils de développement",
      "Remote_Debugging_Protocol": "Protocole de déboguage à distance",
      "Stream_Transport": "Transport des flux",
      "Source_Editor": "Éditeur du source",
      "The_Debugger_Interface": "L’API Debugger",
      "Web_Console_custom_output": "Sortie personnalisée dans la console web",
    "Settings": "Paramètres",
    "Release_notes": "Notes de version"
  },
  "id": {
    "Core_Tools": "Alat Inti",
      "Page_Inspector": "Pemeriksa Laman",
      "Web_Console": "Konsol Web",
      "JavaScript_Debugger": "Pen-debug JavaScript",
      "Network_Monitor": "Monitor Jaringan",
      "Performance": "Performa",
      "Responsive_Design_Mode": "Mode Desain Responsif",
      "Accessibility_Inspector": "Accessibility Inspector",
      "Tips": "Tip",
    "More_Tools": "Alat Lainnya",
      "Memory": "Memori",
      "Storage_Inspector": "Pemeriksa Penyimpanan",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Developer_Toolbar": "Toolbar Pengembang",
      "Eyedropper": "Eyedropper",
      "Screenshot": "Tangkapan Layar",
      "Scratchpad": "Scratchpad",
      "Style_Editor": "Editor Gaya",
      "Shader_Editor": "Editor Shader",
      "Web_Audio_Editor": "Editore Audio Web",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Mengukur sebagian laman",
      "View_Source": "View Source",
    "Connecting_the_devtools": "Menghubungkan Alat Pengembang",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Menghubungkan ke Firefox untuk Android",
      "Connecting_to_iframes": "Menghubungkan ke iframes",
      "Connecting_to_other_browsers": "Menghubungkan ke peramban lain",
    "Debugging_the_browser": "Pen-debug peramban",
      "Browser_Console": "Konsol Peramban",
      "Browser_Toolbox": "Kotak Perkakas Peramban",
    "Extending_the_devtools": "Meluaskan alat pengembang",
      "Adding_a_panel_to_the_toolbox": "Menambah sebuah panel ke kotak perkakas",
      "Example_devtools_add-ons": "Contoh pengaya alat pengembang",
      "Remote_Debugging_Protocol": "Protokol Men-debug Jarak Jauh",
      "Stream_Transport": "Stream Transport",
      "Source_Editor": "Peubah Sumber",
      "The_Debugger_Interface": "Antarmuka Debugger",
      "Web_Console_custom_output": "Konsol Web Keluaran Kustom",
    "Settings": "Pengaturan",
    "Release_notes": "Catatan Rilis"
  },
  "ja": {
    "Core_Tools": "主要ツール",
      "Page_Inspector": "ページインスペクター",
      "Web_Console": "ウェブコンソール",
      "JavaScript_Debugger": "JavaScript デバッガー",
      "Network_Monitor": "ネットワークモニター",
      "Performance": "パフォーマンス",
      "Responsive_Design_Mode": "レスポンシブデザインモード",
      "Accessibility_Inspector": "Accessibility Inspector",
      "Tips": "Tips",
    "More_Tools": "その他のツール",
      "Memory": "メモリー",
      "Storage_Inspector": "ストレージインスペクター",
      "DOM_Property_Viewer": "DOM プロパティビューアー",
      "Developer_Toolbar": "開発ツールバー",
      "Eyedropper": "スポイト",
      "Screenshot": "スクリーンショット",
      "Scratchpad": "スクラッチパッド",
      "Style_Editor": "スタイルエディター",
      "Shader_Editor": "シェーダーエディター",
      "Web_Audio_Editor": "Web Audio エディター",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "開発ツールに接続する",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Android 版 Firefox に接続する",
      "Connecting_to_iframes": "iframe に接続する",
      "Connecting_to_other_browsers": "ほかのブラウザーに接続する",
    "Debugging_the_browser": "ブラウザーのデバッグ",
      "Browser_Console": "ブラウザーコンソール",
      "Browser_Toolbox": "ブラウザーツールボックス",
    "Extending_the_devtools": "開発ツールの拡張",
      "Adding_a_panel_to_the_toolbox": "開発ツールにパネルを追加する",
      "Example_devtools_add-ons": "開発ツールのアドオンのサンプル",
      "Remote_Debugging_Protocol": "リモートデバッグプロトコル",
      "Stream_Transport": "Stream Transport",
      "Source_Editor": "ソースエディター",
      "The_Debugger_Interface": "Debugger インターフェイス",
      "Web_Console_custom_output": "ウェブコンソールのカスタム出力",
    "Settings": "オプション",
    "Release_notes": "リリースノート"
  },
  "ko": {
    "Core_Tools": "Core Tools",
      "Page_Inspector": "페이지 검사기",
      "Web_Console": "웹 콘솔",
      "JavaScript_Debugger": "디버거",
      "Network_Monitor": "네트워크 모니터",
      "Performance": "성능",
      "Responsive_Design_Mode": "반응형 디자인 화면",
      "Accessibility_Inspector": "Accessibility Inspector",
      "Tips": "Tips",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "저장소 검사기",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Developer_Toolbar": "개발자 툴바",
      "Eyedropper": "점안기(Eyedropper)",
      "Screenshot": "Screenshot",
      "Scratchpad": "스크래치 패드",
      "Style_Editor": "스타일 편집기",
      "Shader_Editor": "쉐이더 편집기",
      "Web_Audio_Editor": "웹 오디오 편집기",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "화면 소스",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Android 용 Firefox",
      "Connecting_to_iframes": "iframe 선택하기",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "브라우저 디버깅",
      "Browser_Console": "브라우저 콘솔",
      "Browser_Toolbox": "브라우저 툴박스",
    "Extending_the_devtools": "개발도구 확장하기",
      "Adding_a_panel_to_the_toolbox": "도구박스에 패널 더하기",
      "Example_devtools_add-ons": "개발자 도구 애드온 예제",
      "Remote_Debugging_Protocol": "원격 디버깅 프로토콜",
      "Stream_Transport": "스트림 전송",
      "Source_Editor": "소스 편집기",
      "The_Debugger_Interface": "디버거 인터페이스",
      "Web_Console_custom_output": "사용자 맞춤형 웹 콘솔 출력",
    "Settings": "설정",
    "Release_notes": "배포 기록"
  },
  "pt-BR": {
    "Core_Tools": "Core Tools",
      "Page_Inspector": "Page Inspector",
      "Web_Console": "Web Console",
      "JavaScript_Debugger": "JavaScript Debugger",
      "Network_Monitor": "Network Monitor",
      "Performance": "Performance",
      "Responsive_Design_Mode": "Responsive Design Mode",
      "Accessibility_Inspector": "Accessibility Inspector",
      "Tips": "Tips",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "Storage Inspector",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Developer_Toolbar": "Developer Toolbar",
      "Eyedropper": "Eyedropper",
      "Screenshot": "Screenshot",
      "Scratchpad": "Scratchpad",
      "Style_Editor": "Style Editor",
      "Shader_Editor": "Shader Editor",
      "Web_Audio_Editor": "Web Audio Editor",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "Connecting to iframes",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Depurando o navegador",
      "Browser_Console": "Browser Console",
      "Browser_Toolbox": "Browser Toolbox",
    "Extending_the_devtools": "Estendendo o devtools",
      "Adding_a_panel_to_the_toolbox": "Adding a panel to the toolbox",
      "Example_devtools_add-ons": "Example devtools add-ons",
      "Remote_Debugging_Protocol": "Remote Debugging Protocol",
      "Stream_Transport": "Stream Transport",
      "Source_Editor": "Editor de código",
      "The_Debugger_Interface": "A interface do Debugger",
      "Web_Console_custom_output": "Output do Web Console personalizado",
    "Settings": "Configurações",
    "Release_notes": "Notas de versão"
  },
  "pt-PT": {
    "Core_Tools": "Core Tools",
      "Page_Inspector": "Inspetor de Página",
      "Web_Console": "Consola da Web",
      "JavaScript_Debugger": "JavaScript Debugger",
      "Network_Monitor": "Network Monitor",
      "Performance": "Performance",
      "Responsive_Design_Mode": "Responsive Design Mode",
      "Accessibility_Inspector": "Accessibility Inspector",
      "Tips": "Tips",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "Storage Inspector",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Developer_Toolbar": "Developer Toolbar",
      "Eyedropper": "Eyedropper",
      "Screenshot": "Screenshot",
      "Scratchpad": "Scratchpad",
      "Style_Editor": "Editor de Estilo",
      "Shader_Editor": "Shader Editor",
      "Web_Audio_Editor": "Editor de Áudio da Web",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "Connecting to iframes",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Depurar o navegador",
      "Browser_Console": "Browser Console",
      "Browser_Toolbox": "Browser Toolbox",
    "Extending_the_devtools": "Ampliar as ferramentas de desenvolvimento",
      "Adding_a_panel_to_the_toolbox": "Adding a panel to the toolbox",
      "Example_devtools_add-ons": "Example devtools add-ons",
      "Remote_Debugging_Protocol": "Remote Debugging Protocol",
      "Stream_Transport": "Stream Transport",
      "Source_Editor": "Source Editor",
      "The_Debugger_Interface": "The Debugger Interface",
      "Web_Console_custom_output": "Web Console custom output",
    "Settings": "Configurações",
    "Release_notes": "Notas de lançamento"
  },
  "ro": {
    "Core_Tools": "Core Tools",
      "Page_Inspector": "Inspector de pagină",
      "Web_Console": "Consolă web",
      "JavaScript_Debugger": "Depanator JavaScript",
      "Network_Monitor": "Monitorizare rețea",
      "Performance": "Performanță",
      "Responsive_Design_Mode": "Vedere design receptiv",
      "Accessibility_Inspector": "Accessibility Inspector",
      "Tips": "Tips",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "Inspector de stocare",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Developer_Toolbar": "Bară de dezvoltare",
      "Eyedropper": "Pipetă",
      "Screenshot": "Screenshot",
      "Scratchpad": "Editor JavaScript",
      "Style_Editor": "Editor de stil",
      "Shader_Editor": "Shader Editor",
      "Web_Audio_Editor": "Editor audio web",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Depanare în Firefox pentru Android",
      "Connecting_to_iframes": "Lucrul cu iframe",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Depanare navigator",
      "Browser_Console": "Consolă navigator",
      "Browser_Toolbox": "Set de instrumente pentru navigator",
    "Extending_the_devtools": "Extinderea uneltelor pentru dezvoltatori",
      "Adding_a_panel_to_the_toolbox": "Adding a panel to the toolbox",
      "Example_devtools_add-ons": "Example devtools add-ons",
      "Remote_Debugging_Protocol": "Protocol de depanare la distanță",
      "Stream_Transport": "Stream Transport",
      "Source_Editor": "Editor sursă",
      "The_Debugger_Interface": "Interfața Debugger",
      "Web_Console_custom_output": "Date de ieșire personalizate ale consolei web",
    "Settings": "Setări",
    "Release_notes": "Note de lansare"
  },
  "ru": {
    "Core_Tools": "Основные иструменты",
      "Page_Inspector": "Инспектор страницы",
      "Web_Console": "Web консоль",
      "JavaScript_Debugger": "Отладчик JavaScript",
      "Network_Monitor": "Монитор сетевой активности",
      "Performance": "Performance",
      "Responsive_Design_Mode": "Режим адаптивного дизайна",
      "Accessibility_Inspector": "Accessibility Inspector",
      "Tips": "Советы",
    "More_Tools": "Больше инструментов",
      "Memory": "Memory",
      "Storage_Inspector": "Storage Inspector",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Developer_Toolbar": "Developer Toolbar",
      "Eyedropper": "Eyedropper",
      "Screenshot": "Screenshot",
      "Scratchpad": "Scratchpad",
      "Style_Editor": "Редактор стилей",
      "Shader_Editor": "Shader Editor",
      "Web_Audio_Editor": "Web Audio Editor",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "Connecting to iframes",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Debugging the browser",
      "Browser_Console": "Browser Console",
      "Browser_Toolbox": "Browser Toolbox",
    "Extending_the_devtools": "Extending the devtools",
      "Adding_a_panel_to_the_toolbox": "Adding a panel to the toolbox",
      "Example_devtools_add-ons": "Example devtools add-ons",
      "Remote_Debugging_Protocol": "Remote Debugging Protocol",
      "Stream_Transport": "Stream Transport",
      "Source_Editor": "Source Editor",
      "The_Debugger_Interface": "The Debugger Interface",
      "Web_Console_custom_output": "Web Console custom output",
    "Settings": "Settings",
    "Release_notes": "Release notes"
  },
  "sv-SE": {
    "Core_Tools": "Core Tools",
      "Page_Inspector": "Sidinspektör",
      "Web_Console": "Webbkonsol",
      "JavaScript_Debugger": "Avlusare",
      "Network_Monitor": "Nätverksövervakare",
      "Performance": "Performance",
      "Responsive_Design_Mode": "Responsive Design Mode",
      "Accessibility_Inspector": "Accessibility Inspector",
      "Tips": "Tips",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "Lagringsinspektör",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Developer_Toolbar": "Developer Toolbar",
      "Eyedropper": "Eyedropper",
      "Screenshot": "Screenshot",
      "Scratchpad": "Scratchpad",
      "Style_Editor": "Stilredigerare",
      "Shader_Editor": "Shader Editor",
      "Web_Audio_Editor": "Web Audio Editor",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "Visa källa",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "Connecting to iframes",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Debugging the browser",
      "Browser_Console": "Browser Console",
      "Browser_Toolbox": "Browser Toolbox",
    "Extending_the_devtools": "Extending the devtools",
      "Adding_a_panel_to_the_toolbox": "Adding a panel to the toolbox",
      "Example_devtools_add-ons": "Example devtools add-ons",
      "Remote_Debugging_Protocol": "Remote Debugging Protocol",
      "Stream_Transport": "Stream Transport",
      "Source_Editor": "Source Editor",
      "The_Debugger_Interface": "The Debugger Interface",
      "Web_Console_custom_output": "Web Console custom output",
    "Settings": "Inställningar",
    "Release_notes": "Anteckningar för utgåvan"
  },
  "zh-CN": {
    "Core_Tools": "核心工具",
      "Page_Inspector": "页面检查器",
      "Web_Console": "Web Console",
      "JavaScript_Debugger": "JavaScript Debugger",
      "Network_Monitor": "网络监视器",
      "Performance": "性能",
      "Responsive_Design_Mode": "响应式设计模式",
      "Accessibility_Inspector": "Accessibility Inspector",
      "Tips": "提示",
    "More_Tools": "更多工具",
      "Memory": "内存",
      "Storage_Inspector": "存储检查器",
      "DOM_Property_Viewer": "DOM属性查看器",
      "Developer_Toolbar": "开发者工具栏",
      "Eyedropper": "页面取色器",
      "Screenshot": "截图",
      "Scratchpad": "便笺",
      "Style_Editor": "样式编辑器",
      "Shader_Editor": "Shader Editor",
      "Web_Audio_Editor": "Web Audio Editor",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "连接到devtools",
      "about:debugging": "关于：调试",
      "Connecting_to_Firefox_for_Android": "连接到Android的Firefox",
      "Connecting_to_iframes": "连接到iframes",
      "Connecting_to_other_browsers": "连接到其他浏览器",
    "Debugging_the_browser": "在浏览器调试",
      "Browser_Console": "浏览器控制台",
      "Browser_Toolbox": "浏览器工具箱",
    "Extending_the_devtools": "扩展devtools",
      "Adding_a_panel_to_the_toolbox": "添加一个面板到工具箱",
      "Example_devtools_add-ons": "devtools附加组件实例",
      "Remote_Debugging_Protocol": "远程调试协议",
      "Stream_Transport": "Stream Transport",
      "Source_Editor": "源码编辑器",
      "The_Debugger_Interface": "Debugger 接口",
      "Web_Console_custom_output": "Web Console自定义输出",
    "Settings": "设置",
    "Release_notes": "说明"
  }
});

%>

<section class="Quick_links" id="Quick_Links">
  <ol>
    <li class="toggle">
      <details>
        <summary><%=text['Core_Tools']%></summary>
        <ol>
          <li><a href="<%=baseURL%>Page_Inspector"><%=text['Page_Inspector']%></a></li>
          <li><a href="<%=baseURL%>Web_Console"><%=text['Web_Console']%></a></li>
          <li><a href="<%=baseURL%>Debugger"><%=text['JavaScript_Debugger']%></a></li>
          <li><a href="<%=baseURL%>Network_Monitor"><%=text['Network_Monitor']%></a></li>
          <li><a href="<%=baseURL%>Performance"><%=text['Performance']%></a></li>
          <li><a href="<%=baseURL%>Responsive_Design_Mode"><%=text['Responsive_Design_Mode']%></a></li>
          <li><a href="<%=baseURL%>Accessibility_inspector"><%=text['Accessibility_Inspector']%></a></li>
          <li><a href="<%=baseURL%>Tips"><%=text['Tips']%></a></li>
        </ol>
      </details>
    </li>
    <li class="toggle">
      <details>
        <summary><%=text['More_Tools']%></summary>
        <ol>
          <li><a href="<%=baseURL%>Memory"><%=text['Memory']%></a></li>
          <li><a href="<%=baseURL%>Storage_Inspector"><%=text['Storage_Inspector']%></a></li>
          <li><a href="<%=baseURL%>DOM_Property_Viewer"><%=text['DOM_Property_Viewer']%></a></li>
          <li><a href="<%=baseURL%>GCLI"><%=text['Developer_Toolbar']%></a></li>
          <li><a href="<%=baseURL%>Eyedropper"><%=text['Eyedropper']%></a></li>
          <li><a href="<%=baseURL%>Taking_screenshots"><%=text['Screenshot']%></a></li>
          <li><a href="<%=baseURL%>Scratchpad"><%=text['Scratchpad']%></a></li>
          <li><a href="<%=baseURL%>Style_Editor"><%=text['Style_Editor']%></a></li>
          <li><a href="<%=baseURL%>Shader_Editor"><%=text['Shader_Editor']%></a></li>
          <li><a href="<%=baseURL%>Web_Audio_Editor"><%=text['Web_Audio_Editor']%></a></li>
          <li><a href="<%=baseURL%>Rulers"><%=text['Rulers']%></a></li>
          <li><a href="<%=baseURL%>Measure_a_portion_of_the_page"><%=text['Measure_a_portion_of_the_page']%></a></li>
          <li><a href="<%=baseURL%>View_source"><%=text['View_Source']%></a></li>
        </ol>
      </details>
    </li>
    <li class="toggle">
      <details>
        <summary><%=text['Connecting_the_devtools']%></summary>
        <ol>
          <li><a href="<%=baseURL%>about:debugging"><%=text['about:debugging']%></a></li>
          <li><a href="https://developer.mozilla.org<%=baseURL%>Remote_Debugging/Debugging_Firefox_for_Android_over_Wifi"><%=text['Connecting_to_Firefox_for_Android']%></a></li>
          <li><a href="https://developer.mozilla.org<%=baseURL%>Working_with_iframes"><%=text['Connecting_to_iframes']%></a></li>
          <li><a href="https://developer.mozilla.org<%=baseURL%>Valence"><%=text['Connecting_to_other_browsers']%></a></li>
        </ol>
      </details>
    </li>
    <li class="toggle">
      <details>
        <summary><%=text['Debugging_the_browser']%></summary>
        <ol>
          <li><a href="<%=baseURL%>Browser_Console"><%=text['Browser_Console']%></a></li>
          <li><a href="<%=baseURL%>Browser_Toolbox"><%=text['Browser_Toolbox']%></a></li>
        </ol>
      </details>
    </li>
    <li class="toggle">
      <details>
        <summary><%=text['Extending_the_devtools']%></summary>
        <ol>
          <li><a href="<%=baseURL%>Adding_a_panel_to_the_toolbox"><%=text['Adding_a_panel_to_the_toolbox']%></a></li>
          <li><a href="<%=baseURL%>Example_add-ons"><%=text['Example_devtools_add-ons']%></a></li>
          <li><a href="https://wiki.mozilla.org/Remote_Debugging_Protocol"><%=text['Remote_Debugging_Protocol']%></a></li>
          <li><a href="https://wiki.mozilla.org/Remote_Debugging_Protocol_Stream_Transport"><%=text['Stream_Transport']%></a></li>
          <li><a href="<%=baseURL%>Editor"><%=text['Source_Editor']%></a></li>
          <li><a href="<%=baseURL%>Debugger-API"><%=text['The_Debugger_Interface']%></a></li>
          <li><a href="<%=baseURL%>Web_Console/Custom_output"><%=text['Web_Console_custom_output']%></a></li>
        </ol>
      </details>
    </li>
    <li><a href="<%=baseURL%>Settings"><%=text['Settings']%></a></li>
    <li><a href="<%=baseURL%>Release_notes"><%=text['Release_notes']%></a></li>
  </ol>
</section>
